body{
   text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
   
}
.top-container{
   background-image:('image/200w.webp');
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
   background-color: #000000;
   
}

h1{
     margin: 5px auto 0 auto;
    padding-top: 150px;
    font-family: Brooklyn, sans-serif;
    display: inline-block;
    font-size: 5rem;
    color: white;
}
h2{ 
    font-family: 'Rancho', cursive;
    font-size: 2.5rem;
}
.wev{
    color: white;
       font-family: Brooklyn, sans-serif;
}
.intro{
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-top: -25px;

}
.skll{
   margin-bottom: -20px;

}
.skill-row{
    width: 40%;
    margin: 10px auto 100px auto;
    text-align: left;
}
h4{
    font-family: 'Rancho', cursive;

}
h3{
    font-family: 'Rancho', cursive;

}
.coffee{
    display: inline-block;
    width: 42%;
}
.btn {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 9.9%;
  }
  
  .btn:hover {
    background: #000000;
    text-decoration: none;
  }
.middle-container{
padding-top: 10px;


}
.bottom-container{
    background-color: black;
    margin-bottom: -33px;
    word-spacing: 35px;
    margin-top: 30px;
    padding-top: 30px;
    color: black;
   }

.footer-link{
    color: #ffffff;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
    color: black;
}
.harshit{
    word-spacing: 5px;
    font-size: 18px;
    color: #ffffff;
}
.horizontal{
    margin: 30px auto 100px auto;
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 8px;
  
    width: 5%;
}
.content{
    text-align: center;
    width: 30%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    
    
}
.coder{
    width: 30%;
    float: left;
    margin-right: 30px
}


p{
    font-family: 'Rancho', cursive;
    font-size: 2rem;
}
.profilep{
    border-radius: 100%;
    width: 50%;
    height: 50%;
}

.hello{
    font-size: 2rem;
}

